body {
    margin: 0;
    padding: 0;
    width:100%;
    font-family: 'DM Sans', sans-serif;
}

header {
    height: 50px;
    padding-top: 21px;
    width: auto;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #1B1C20;
}

/* logo */
.logo {
    width: 95px;
    height: 36.56px;
    padding-left: 2rem;
}
.desknav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-bar{
    display:flex;
    flex:1;
    justify-content: space-between;
}

/* navbar */
nav.navbar {
    display: flex;
    align-items: center;
    color: #1B1C20;
}

/* navbar links */
nav.navbar a {
    margin-left: 45px;
    text-decoration: none;
    color: #1B1C20;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.get-started-btn{
    background-color: #FB8E0B;
    color: white;
    border-radius:8px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right:2rem;
}
.get-started-btn a{
    color: white;
    text-decoration: none;
}
.login-btn{
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: #1B1C20;
}
.login-btn a {
    margin-left: 45px;
    text-decoration: none;
    color: #1B1C20;
}
.topnav{
    display: none;
}

/* Background */
.bg {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-content: center;
    align-items: center;
}

.bg-left {
    position: relative;
}

.bg-left .bg-reviews {
    margin-top: 30px;
}

.bg-left .review-img img {
    width: 100%;
    height: auto;
}

.bg-large-text {
    width: 509px;
    height: 150px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 48px;
    color: #1B1C20;
    margin-top: 30px;
}

.bg-small-text {
    width: 440px;
    height: 45px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #383A47;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.bg-btn {
    display: flex;
    align-items: center;
    background-color: #FB8E0B;
    color: #fff;
    border-radius: 8px;
    padding: 12px;
    width: 33%;
    margin-top: 30px;
}

.bg-btn .a {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-right: 10px;
}

.bg-right {
    flex-shrink: 0;
}

.bg-right img {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Review section */
.review-ratings{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bg-reviews{
    display:flex;
    width: 250px;
    flex-direction: row;
    align-items:center;
}
.review-right{
    display: flex;
    flex-direction: column;
}
.number,
.review{
    width: 100%;
    margin:0;
}
.number{
    font-weight: 600;
    font-size: 30px;
}
.review-img{
    padding-right:10px;
    width: 50%;
}
.review{
    font-weight: 400;
    font-size: 12px;
    color: #70727F;
}
.bg-ratings{
    margin-top:25px;
    flex-direction: column;
    display: flex;
}
.ratings-2{
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    align-items: center;
}
.ratings-text{
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
    border-left: 3px solid #1B1C20;
    padding-left:1rem ;
}

.ratings-2 p,
.ratings-text p{
    margin:0;
}
.ratings-2 p{
    font-weight: 400;
    font-size: 13px;
    color:#70727F;
}

.features {
    display: flex;
    margin-top: 30px;
    width: 100%;
    align-self: center;
    font-family: 'DM Sans', sans-serif;
}

.features-header {
    width: 100%;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    justify-content: space-around;
}

.ft-content {
    flex: 1;
    width: 20%;
    display: flex;
    align-items: center;
    color: #1B1C20;
    align-content: center;
    justify-content: space-around;
    padding:1rem;
}

.icon-img img {
    height: 50px;
}

.text-big {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}

.text-small {
    font-size: 14px;
    text-align: left;
}

.call-section {
    width: auto;
    height: 585px;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.call-img img{
    height:365px;
   
}
.call-big{
    width: 511px;
    height: 112px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #1B1C20;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.call-small{
    width: 431px;
    height: 52px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #383A47;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.call-mid{
    width: 440px;
    height: 60px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #383A47;
}
.section-2{
    background-color: #F8F8FA;
}
.ft-3 {
    margin-top: 5%;
    display: flex;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.ft-3-left {
    padding-left: 1rem;
}

.ft-3-large-text {
    width: auto;
    height: auto;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 48px;
    color: #1B1C20;
    margin-top: 15%;
}

.ft-3-small-text {
    width: 95%;
    height: auto;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #383A47;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.ft-3-btn {
    align-items: center;
    background-color: #FB8E0B;
    color: #fff;
    border-radius: 8px;
    padding: 12px;
    width: 30%;
    height: auto;
    margin-top: 30px;
}

.ft-3-btn .a {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-right: 10px;
}

.ft-3-right img {
    width: 90%;
    height: auto;
}
.ft-4-section {
    width: auto;
    height: auto;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;

}

.ft-4-big{
    width: 499px;
    height: 112px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #1B1C20;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ft-4-mid{
    width: 499px;
    height: 60px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #383A47;
}
.ft-4{
    background-color: #F8F8FA;
}
.stat {
    margin-top: 5%;
    display:flex;
}

.stats{
    display: flex;
}
.stat-big{
    width: auto;
    height: auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    color: #1B1C20;
}
    .stat-small-1{
    width: auto;
    height: auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #383A47;
    margin: 20% 10% 0 10%;
    }
.stat-small-2{
    width: auto;
    height: auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #383A47;
    margin: 22% 10% 0 10%;
}
.testimonial {
    font-family: 'DM Sans';
    font-style: normal;
    background-color: #FB8E0B;
    width: auto;
    height:550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.client-testimonial {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.client, .clients{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
}

.client-1,
.client-2 {
    background: #fff;
    border-radius: 11.1111px;
    width:75%;
    text-align: center;
}

.client-info {
    display: flex;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.client-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-top:5%;
}

.client-details {
    width: 166px;
    height: 61px;
    display: flex;
    flex-direction:column;
}
.testimonial-header{
    width: 40%;
    height: auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
}

.client-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FD6003;
}

.client-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}
client.info{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-name {
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin:0
}

.client-company {
    height: 24px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin:0;
}
.ft-5{
    width: auto;
    height: 750px;
    background-color: #F8F8FA;
    font-family: 'DM Sans';
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.ft-5-text{
    text-align:center;
    width: 739px;
    height: 168px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #1B1C20;
} 

.ft-5-btn .a {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    background-color: #FB8E0B;
    color: #fff;
    border-radius: 8px;
    padding: 12px;
    width: auto;
    height: auto;
}
footer{
    display:flex;
    flex-direction:column;
    color: #797B89;
    width: 90%;
}
.footer-1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid #383A47;
}
.logo{
    margin-bottom:1rem;
}
.social-icons i{
    padding: 10px;
    color:#FD6003;
}
.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar a {
    margin-left: 45px;
    text-decoration: none;
    color: #1B1C20;
}
footer{
    display: flex;
    color: #797B89;
    width: 90%;
    height: 26px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
}
.copyright{
    text-align: center;
}
.policy-terms{
    display:flex;
    justify-content: space-around;
}

@media only screen and (max-width: 768px) {

    .desknav-container {
        display: none;
    }
    
    .topnav{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    align-items: center;
    padding:0 1rem 0 1rem ;
    }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        display: block;
      }
      
       .icon {
        color: #000000;
        width:auto;
      }

      .icon i{
        width: 40px;
        height: 40px
      }
      
      .topnav a:hover {
        color: #FB8E0B;
      }
      
      .active {
        background-color: white;
        color: white;
      }
      
    
    .bg {
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .bg-left .bg-reviews {
        margin-top: 20px;
    }

    .bg-large-text,
    .bg-small-text,
    .bg-btn {
        width: auto;
        height:auto;
        max-width: 100%;
    }
    .bg-left{
        width:90%;
    }
    .bg-btn{
        width:45%;
    }
    .bg-right img {
        height:300px;
        width: 100%;
        max-width: 400px;
        margin-top: 20px;
        padding-left: 0;
    }
    .review-ratings{
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:90%;
    }
    .ratings-text{
        border-top: 3px solid #1B1C20;
        border-left: 0;
    }
    .bg-ratings{
    margin:0;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}
    .features {
        flex-direction: column;
        align-items: center; 
    }

    .ft-content {
        width: 80%;
        max-width: 320px;
        flex-direction: column;
        align-content: center;
        margin:0;
    }

    .ft-text,
    .text-big,
    .text-small{
        text-align: center;
    }

    .features-header {
        font-size: 24px;
    }
    .call-section {
        flex-direction: column;
        height: auto;
        padding: 20px;
        text-align: center; 
    }

    .call-img img {
        height: auto;
        max-width: 100%; 
        width:100%;
    }

    .call-big,
    .call-small,
    .call-mid {
        width: 100%; 
        max-width: 400px; 
        margin-bottom: 20px;
        text-align: left;
    }
    .call-big{
        height:150px;
    }
    .call-mid{
        height:auto;
        margin:0;
    }
    .ft-3 {
        flex-direction: column;
        align-items: center;
    }
    .ft-3-left{
        padding:0;
    }

    .ft-3-large-text,
    .ft-3-small-text,
    .ft-3-btn {
        width: 100%; /* Adjust width for responsiveness */
        max-width: 320px; /* Set maximum width */
        margin-top: 20px; /* Add top margin */
    }
    .ft-3-btn{
        width:50%;
    }

    .ft-3-right img {
        width: 100%;
        max-width: 100%;
        margin-top: 20px; /* Add top margin */
    }
    .ft-4-section {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
        width: 90%;
        padding:10px;
    }

    .ft-4-section img{
        padding-top: 10px;
        width: 90%;
        height:auto;
    }
    .ft-4-text{
        width: 100%;
    }
    .ft-4-big,
    .ft-4-mid{
        width: 100%;
        height:120px;
    }
    .stat{
        margin: 0;
    }
    .stat-big,
    .stat-small {
        text-align: center; 
        margin:0;
    }
    .stat-small-1,
    .stat-small-2{
        margin:0;
        padding:12px;
    }
    .testimonial{
        height:auto;
    }
    .client-testimonial{
        flex-direction: column;
    }
    .client-1,
    .client-2 {
        width: 70%; /* Adjusted width for better fit on smaller screens */
    }

    .testimonial-header {
        width: 75%; 
        font-size: 24px; 
        line-height: 30px; 
    }

    .client-name,
    .client-company {
        font-size: 14px;
        height: 22px;
    }
        .ft-5 {
        height: 600px; /* Allow content to determine height */
        align-content: center;
    }
    .client-info{
        display: flex;
        flex-direction: row;
        align-items:center;
        margin: 10px;
    }

    .ft-5-text {
        font-size: 24px; /* Decreased font size for better fit */
        line-height: 30px;
        width: 80%;
        padding-top:2rem;
        }
    .client-img{
        margin:-1rem 1rem 0 0;
    }
    .ft-5-btn .a {
        width: 100%; /* Set width to full for responsiveness */
        max-width: 320px; /* Set maximum width */
        margin-top: 20px; /* Add top margin for spacing */
    }

    footer {
        padding-top: 90px;
        width: 90%;
        height: 300px;
    }

    .footer-1 {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
    }

    .navbar a {
        padding:10px;
        margin:0;
    }
    .social-icons{
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    .social-icons i{
        color:#FD6003;
        padding:1rem;
    }
}
